{% extends "auctions/layout.html" %}

{% block body %}
    <hr>
    <h2 style="text-align:left;font-family:'Impact'; font-color:'#B0E0E6';">ACTIVE LISTINGS...</h2>
    <hr>
    <form action="{% url 'displayBrands' %}" method="POST" class='my-3'>
        {% csrf_token %}
        <label for="brand">CHOOSE A BRAND :</label>
            <select name="brand" id="brand">
                {% for br in brands %}
                    <option value="{{ br.brandName }}">{{ br.brandName }}</option>
                {% endfor %}
            </select>
        <button type="submit" class="modern-button">Select</button>
    </form>
    <div class="row mx-3">
        {% for list in Listing %}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ list.brand }} {{ list.title }}</h5>
            </div>
            <img class="card-img-top" src="{{ list.image_url }}" alt="{{ list.title }}">
            <div class="card-body">
                <p class="card-text">{{ list.discription|slice:":100" }}...</p>
            </div>
            <div class="card-footer">
                <h5>Current Bid : ₹{{ list.price }}</h5>
                <a href="{% url 'listing' id=list.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
